@font-face {
   font-family: 'nunitoextralight';
   src: url('nunito-variablefont_wght-webfont.woff2') format('woff2'),
        url('nunito-variablefont_wght-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

html {
   box-sizing: border-box;
   font-size: 24px;
   background: linear-gradient(#0891b2, #155e75);
   height: 100%;
   color: white;
   font-family: 'nunitoextralight', sans-serif;
   font-weight: 900;
}

body {
   margin: 0;
}

main {
   margin: 0 auto;
   width: 600px;
}

#top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid black;
   height: 80px;
}

#inputField {
   height: 30px;
   width: 300px;
   font-size: 0.9rem;
   padding: 4px 8px;
   background-color: #082f49;
   color: white;
   border: none;
   border-radius: 6px;
   outline: none;
}

main {
   display: grid;
   grid-template-columns: 300px 1fr;
   grid-template-rows: max-content 1fr;
}

#location-section {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 1 / 3;
   height: 100px;
   margin: 20px 0;
}

.location {
   font-size: 2rem;
   margin: 0;
}

#primary-info {
   display: grid;
   grid-template-rows: max-content max-content max-content;
}

.temp-p {
   text-align: left;
   font-size: 4rem;
   margin: 0;
}

.degree-sign {
   font-size: 2rem;
}

.condition-div, .wind-description-div {
   display: flex;
   justify-content: left;
   align-items: center;
}

.condition-p {
   font-size: 1.1rem;
}

.wind-description-p, .secondary-header {
   font-size: 0.8rem;
   opacity: 0.7;
}

.condition-p, .wind-description-p {
   margin: 6px 0;
}

#secondary-info {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}

.secondary-div {
   margin-bottom: 50px;
}

.secondary-p {
   margin: 12px 0 0 0;
}

.secondary-header {
   display: none;
}