:root {
   --orange: rgb(255, 145, 0);
   --dark: #082f49;
}

@font-face {
   font-family: 'nunitoextralight';
   src: url('nunito-variablefont_wght-webfont.woff2') format('woff2'),
        url('nunito-variablefont_wght-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

@font-face {
   font-family: 'nunitoregular';
   src: url('Nunito-Regular.woff') format('woff');
}

html {
   box-sizing: border-box;
   font-size: 24px;
   background: linear-gradient(#0891b2, #155e75);
   height: 100%;
   color: white;
   font-family: 'nunitoregular', sans-serif;
   font-weight: 900;
}

body {
   margin: 0;
}

main {
   margin: 0 auto;
   width: 600px;
}

#top {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 80px 1fr;
   align-items: center;
   height: 120px;
}

.logo-div {
   grid-column: 1 / 2;
}

.search-form {
   grid-column: 2 / 3;
}

.settings-div {
   grid-column: 3 / 4;
}

.search-form {
   display: flex;
   align-items: center;
   background-color: var(--dark);
   border-radius: 6px;
   min-width: 270px;
}

#inputField {
   height: 30px;
   min-width: 150px;
   width: 100%;
   font-size: 0.9rem;
   padding: 4px 8px;
   background-color: var(--dark);
   color: white;
   border: none;
   border-radius: 6px;
   outline: none;
}

#inputButton {
   background-color: transparent;
   border: none;
   outline: none;
   color: white;
   font-weight: 900;
   cursor: pointer;
   padding: 10px;
   font-size: 1rem;
   margin-left: auto;
}

#inputButton:active {
   color: var(--orange);
}

.settings-div {
   display: flex;
   justify-content: center;
}

.settings-button {
   font-size: 1rem;
   font-weight: 900;
   background-color: var(--dark);
   color: white;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   border: none;
   outline: none;
   margin-right: 30px;
}

.settings-button:active {
   color: var(--orange);
}

.error-message-div {
   grid-column: 2 / 3;
}

.error-message-p {
   text-align: center;
   margin: 0;
   color: white;
   animation-duration: 1s;
   animation-name: glowup;
}

@keyframes glowup {
   from {
      color: var(--orange);
   }
   to {
      color: white;
   }
}

main {
   display: grid;
   grid-template-columns: minmax(300px max-content) 1fr;
   grid-template-rows: max-content 1fr;
}

#location-section {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 1 / 3;
   height: fit-content;
   margin: 20px 0;
}

.location {
   font-size: 2rem;
   margin: 0;
}

#primary-info {
   display: grid;
   grid-template-rows: max-content max-content max-content;
}

.temp-p {
   text-align: left;
   font-size: 4rem;
   margin: 0;
}

.degree-sign {
   font-size: 2rem;
}

.condition-div, .wind-description-div {
   display: flex;
   justify-content: left;
   align-items: center;
}

.condition-p {
   font-size: 1.1rem;
}

.wind-description-p, .secondary-header {
   font-size: 0.8rem;
   opacity: 0.7;
}

.condition-p, .wind-description-p {
   margin: 6px 0;
}

#secondary-info {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}

.secondary-div {
   margin-bottom: 50px;
}

.secondary-p {
   margin: 12px 0 0 0;
}